*,
body,
html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  background: #010101;
  background-image: radial-gradient(circle at 25% -10%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%),
    // radial-gradient(circle at -25% 30%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%),
    radial-gradient(circle at 120% 35%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%),
    radial-gradient(circle at -20% 70%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%),
    radial-gradient(circle at 118% 75%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%),
    radial-gradient(circle at -20% 95%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%),
    radial-gradient(circle at 118% 98%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%);
    padding-left: 58.38px;

  .discover_btn {
    width: 11vw;
    height: 6vh;
    line-height: 6vh;
    border-radius: 3.34px;
    background-image: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    text-align: center;
    margin-right: 23.35px;
    margin-bottom: 5px;

    a {
      font-weight: 700;
      font-size: 1.3vw;
      line-height: 2.6vw;
    }
  }
}

.gradient_text {
  background-image: linear-gradient(133deg, rgba(200, 36, 236, 1) 0%, rgba(223, 48, 141, 1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

// ------------header section--------------

.header {
  width: 93%;
  height: fit-content;
  padding: 3% 0 3% 7%;
  display: flex;
  flex-wrap: wrap;
  background: url('../images/logo.png') no-repeat 0 15%;
  background-size: 15%;

  .menu {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    width: 90%;
    float: right;
    padding-left: 5%;
    // margin-top: -7%;
  }

  .menu ul li {
    display: inline-block;
    float: right;
    margin: 1% 3% 3%;
    font-size: 1.6vw;
    font-weight: 500;

    li:last-child {
      margin-right: 0;
    }
  }
}

// ----------------main section--------------

.main-section {
  width: 100%;
  background: url('../images/mainsection/Group2.png') no-repeat 85%;
  height: max-content;
  margin-bottom: 5vh;
  background-size: 29.3%;
   
  .slogan {
    font-weight: 900;
    font-size: 3.8vw;
    line-height: 6vw;
    margin-top: 6vw;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    background-size: 100%;
    background-repeat: repeat;
 
  }

  .slogan_description {
    margin-top: 24.12px;
    line-height: 2.8vw;
    font-size: 1.8vw;
    font-weight: 700;
 
  }

  .learn_more {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 7vh;
   

    span {
      font-weight: 300;
      font-size: 1.2vw;
      line-height: 2vw;
    }
  }



  .vr-users-stat {
    margin-top: 39.97px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;

    #dot {
      width: 8.34px;
      height: 8.34px;
      border-radius: 50%;
      background-color: #fff;
      margin-left: 20px;
    }

    span {
      font-size: 1vw;
      font-weight: 600;
      line-height: 1.2vw;
      margin-left: 15px;
    }
  }
}


// ---------about_us-section-----------------
 
.about-section {
  // margin-top: 6%;
  margin-bottom: 40vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .about-text-conatainer {
    // max-width: 50%;
    position: absolute;
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 1.7vw;  
    left: 45%;
    top: 10vw;
    text-align: justify;
    // margin-block-start: -29%;
    width: 47%;
    z-index: 2;
   
  h3 {
    display: block;
    font-weight: 700;
    font-size: 2vw;
    height: 27.36px;
    text-transform: uppercase;
    text-align: right;
    padding-top: 2%;
    padding-bottom: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
  }

  span {
    text-align: end;
    font-size: 1.3vw;
    line-height: 2vw;
  }

  #quote {
    font-weight: bold;
    font-style: italic;
    font-size: 1vw;
  }

  
}
  
  // .image-aboutus-container {
  //     background: url('../images/aboutsection/Group\ 28.svg') no-repeat 9% 75%;
  //     height: 80vh;
  //     background-size: 80%;
  //     width: 20%;
  //     z-index: 3;
  //   }

    .image-about-container {
      // background: url('../images/aboutsection/Group\ 3.svg') no-repeat 0 46%;
      // height: 80vh;
      // width: 20%;
      // background-size: 80%;
      // z-index: 3;


        height: 78vh;
        width: 70%;
        margin-left: -21px;
        position: relative;
      
        .video-container {
          position: relative;
          padding-bottom: 56.25%;
          z-index: 0;
      
          .video {
            position: absolute;
            top: 20vh;
            left: -17%;
            opacity: .6;
            width: 60vw;
            height: auto;
            border-radius: 80%;
          }
    
      }
     

    }



   
  }

   
// -------------services section-------------

.services_section {
  // margin-left: -44px;
  width: 96%;
  padding: 0 2%;

  h2 {
    // margin-left: 51px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 700;
    font-size: 2vw;
    line-height: 27.36px;
    text-transform: uppercase;
    text-align:left;
  }

  .services_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // margin: 3% 4%;
    // padding: 1%;
    margin-top: 1.5vw;
    height: max-content;
    width: 90%;
    text-align: center;

    .service-item {
      position: relative;
      min-width: 43%;
      max-width: 80%;
      color: #fff;

      img {
        width: 100%;
      }

      .discover_btn_background {
        position: relative;
        width: 46%;
        height: 23%;
        border-radius: 0px 0px 0px 4.8638px;
        background: rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(13.6977px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        text-align: center;
        top: -25%;
        left: 5.3%;
        z-index: 2;

        .serv_discover_btn {
          color: white;
          font-weight: bold;
          letter-spacing: 1px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          width: 100%;
          text-align: center;

          a {
            text-decoration: none;
            line-height: 2vw;
            color: #fff;
            z-index: 4;
            backdrop-filter: none !important;

            span {
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }

  .services_wrap {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
    height: max-content;
    .service-figure {
      position: relative;
      min-width: 44%;
      max-width: 90%;
      color: #fff;
      margin-bottom: 10%;

      .figure-img {
        opacity: 0.08;
        -webkit-transition: opacity 4.35s;
        transition: opacity 4.35s;
        width: 95%;
      }

      .serv-decription {
        position: absolute;
        top: 5%;
        width: 90%;

        ul {
          padding-inline-start: 4%;
          list-style-type: '\2735';
          opacity: 1;
          -webkit-transition: opacity 4.35s;
          transition: opacity 4.35s;

          li {
            padding-left: 2%;
          }
        }

        span {
          text-transform: uppercase;
        }

        p {
          margin-block-start: 0.3em;
          margin-block-end: 0.3em;
        }

        span,
        p {
          opacity: 0.9;
          -webkit-transition: opacity 4.35s;
          transition: opacity 4.35s;
          transition-delay: 2s;
          font-size: calc(6px + (16 * 0.7) * ((95vw - 320px) / 1280));
        }
      }

      .contact_btn {
        height: 2em;
        position: absolute;
        top: 102%;
        justify-content: center;
        left: 25%;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        a {
          padding: 8px 20px;
          width: 100%;
          background: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
          font-size: 14px;
          font-weight: 500;
          border-radius: 2.44456px;
          color: #fff;
          text-decoration: none;
          text-align: center;

          p {
            margin-block-start: 0em;
            margin-block-end: 0em;
          }
        }
      }
    }
  }
} 

// ----------------reviews section--------------------

.reviews-section {
  margin-left: -44px;
  width: 100%;
     
  .reviews-wrap {
    z-index: 1;
    opacity: .9;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 97%;
    height: 21vw;
    margin: 4% 3% 20%;
    background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7.35039px;
  }

  .reviews-header { 
  h2 {
    display: block;
    font-weight: 700;
    font-size: 2vw;
    height: 24px;
    letter-spacing: -0.02em;
    margin-top: 3%;
    text-align: center;
    text-transform: uppercase;
    margin-block-start: 0.83em;
    margin-block-end: 1.5vw;
  }

  .rewiews-p {
    display: block;
    text-align: center;
    margin-block-start: 0.2vh;
    margin-block-end: 0.2vh;
    margin-inline-start: 1.15vw;
    margin-inline-end: 1.15vw;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2.2vw;
  }
}

  .review {
    box-sizing: border-box;
    border-radius: 6.9px;
    display: block;
    z-index: 3;
    position: absolute;
    padding: 2%;
    width: 30%;
    height: fit-content;
    top: 12vmax;
    background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      
  .review-header {
     text-align: left;
     color: #F7B603;
     font-weight: 700;
     font-size: 2.3vw;
   }

   .review-text {
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 105%;
   }

    .reviewers {
      margin: 0 auto;
      .reviewer-photo {
        display:inline-block;
        margin-top: 3%;
        img {
          width: 6vw;
          height: 6vh;
          vertical-align: text-bottom;
        }
      }

      .reviewer-name {
        font-size: 1.2vw;
        line-height: 105%;
        font-weight: 500;
        display:inline-block;
        margin-left: 3%;
        vertical-align: text-top;
        margin-block-start: -1em;
      }
   
      .reviewer-email {
        color: #EB4468;
        font-size: 1.2vw;
        line-height: 105%;
        font-weight: 500;
        // margin-top: -5%;
        margin-left: 30%;
      }
    }
  
  }
  .item1 {
    left: 3%;
  }

  .item2 {
    left: 35%;
  }

  .item3 {
    left: 67%;
  }
  
}

// ---------community section-----------

.community-section {
  // padding-top: 4vh;
  height: auto;
  width: 100%;
  
  .community-wrap {
    display: flex;
    justify-content: space-around;
    width: 94%;
    padding-top: 3.7vh;
    margin: 2% 2% 4%;

    .community-text {
      width: 50%;
      h2 {
        font-size: 2vw;
        text-transform: uppercase;
        margin-top: 2vh;
      }

      p {
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 2vw;
        margin-top: 5.5vw;
        width: 80%;
      }
    }

    .social-medias {
      width: 50%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;

      .medias-icon {
        width: 17vw;
        height: auto;
        text-align: center;
        padding: 4%;

        img {
          vertical-align: middle;       
        }
        .instagram-icon {
          width: 6vw;
        }
        .discord-icon {
          width: 5.7vw;
        }

        .youtube-icon {
          width: 4vw;
        }


        p {
          font-size: 1.5vw; 
          text-align:center; 
        } 

        .youtube {
          margin-block-start: 1.5vw;
        }
      }
    }
  }


}

// ------------proposals-section-------------

.proposals-section {
  width: 96%;
  padding: 3% 2%;
  margin-left: -3%;

  .proposals-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background: linear-gradient(55deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
    filter: drop-shadow(2px 4px 16px black);
    border-radius: 7.35039px;

   .form {
    width: 100%;
    height: fit-content;
    z-index: 2;
    // background-image: url(../images/proposalssection/background.svg);
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: bottom right;
    h2 {
      padding: 4vw 4vw 1vw;
      font-weight: 700;
      font-size: 2.3vw;
      line-height: 3.4vw;
    }
    p {
        font-size: 9px;
        font-size: 1.3vw;
        padding: 0 4vw;
    }

    .form-container {
      border-radius: 5px;
      padding: 5vw;
      background-image: url(../images/proposalssection/background.svg);
      border-radius: 0px 7.32242px 7.32242px 0px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position-y: 99%;

      label {
        font-size: 1.3vw;
      }

      input[type=text], input[type=email], textarea {
        width: 100%; 
        color: white;
        background-color: transparent;
        font-size: 1.3vw;
        padding: 6px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 1vw;
        margin-bottom: 3vw;
        resize: vertical; 
       }
      
       .custom-select {
        margin-top: 1vh;
        position: relative;
        select {
          display: none; 
        }

        .select-selected {
          background-color: rgb(58, 8, 71);
        }

        .select-selected:after {
          position: absolute;
          content: "";
          top: 1.4vw;
          right: 10px;
          width: 0;
          height: 0;
          border: .6vw solid transparent;
          border-color: #fff transparent transparent transparent;
        }

        .select-selected.select-arrow-active:after {
          border-color: transparent transparent #fff transparent;
          top: 7px;
        }

        .select-items div,.select-selected {
          color: #ffffff;
          padding: 6px 8px;
          border: 1px solid transparent;
          font-size: 1.3vw;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer;

          .select-items {
            position: absolute;
            background-color: DodgerBlue;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
          }

        }
        .select-hide {
          display: none;
        }

        .select-items div:hover, .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1);
        }      
       }
      
      input[type=submit] {
        background-image: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
        color: #fff;
        padding: 1vw 3vw;
        font-size: 1.2vw;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 3vh;
      }
      
     
    }
   }

  }


}




// -------------media-------------

@media only screen and (max-width: 490px) {
  // almost edited****
  .about-section {
    margin-bottom: 3vh;
    .image-about-container {
      display: none;
    }
    .about-text-conatainer {
      height: max-content;
      position: static;
      width: 64vw;
    }
  }

  .service-figure {
    .serv-decription br {
      display: none;
    }
  }

  .community-section {
    padding-top: 5vh;
    margin-left: -6vw;
  }

  .proposals-section {
    margin-left: -7vw;
  }

  .services_section {
    .services_wrap {
      justify-content: space-around;
    }
  }

  .service-figure {
    .contact_btn {
      top: 110%;
      padding: 4px 12px;
      left: 20%;
      font-size: 10px;

      a {
        font-size: 8px;
      }
    }
  }

}

@media only screen and (max-width: 560px) {
  .services_section
  {
    .services_container {
      justify-content: space-around;
    }
  } 
}


@media (min-width:491px) and (max-width: 700px) {
  .services_container {
    .service-item {
      .discover_btn_background {
        font-size: 55%;
      }
    }
  }

  .services_wrap {
    .service-figure {
      .contact_btn {
        top: 127%;
        height: 1em;

        a {
          padding: 4px 16px;
          font-size: 12px;
        }
      }
    }
  }

  .about-section {
    margin-bottom: -15vh;
  }
}

@media (min-width:701px) and (max-width: 900px) {
  .services_container {
    .service-item {
      .discover_btn_background {
        left: 0.3%;
      }

      .service-img {
        width: 90%;
        margin-left: 5%;
      }
    }
  }

  .about-section {
    margin-bottom: 0vh;
  }
  
}

@media only screen and (min-width: 900px) {

  .services_container {
    .service-item {
      .service-img {
        width: 90%;
        margin-left: 5%;
      }
    }

    .service-figure {
      .contact_btn {
        top: 110%;
      }
    }
  }

}


@media only screen and (min-width: 1400px) {
  .services_container {
    .service-item {
      .discover_btn_background {
        font-size: 30px;
      }
    }
  }

  .service-figure {
   
    .contact_btn {
      top: 95%;
    }
  }
}


@media only screen and (min-width: 2000px) {
  .services_container {
    .service-item {
      .discover_btn_background {
        font-size: 46px;
      }
    }
  }

  .contact_btn {
    top: 65%;
  }
}

@media screen and (max-width: 980px) {
  h2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.36px;
  }
}