*,
body,
html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  background: #010101;
  background-image: radial-gradient(circle at 25% -10%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%), radial-gradient(circle at -25% 30%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%), radial-gradient(circle at 120% 35%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%), radial-gradient(circle at -20% 70%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%), radial-gradient(circle at 118% 75%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%);
  height: 3400px;
}

.header {
  height: 4%;
}

.header .logo {
  display: inline-block;
  max-width: 400px;
  max-height: 400px;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  padding: 20px 20px;
  margin-right: 0;
}

.header .menu .home_menu {
  background-image: linear-gradient(133deg, #c824ec 0%, #df308d 100%);
  background-size: 100%;
  background-repeat: repeat;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header .menu ul li {
  display: inline-block;
  float: right;
  margin: 1% 3% 3%;
  font-size: 18px;
  font-weight: 500;
}

.header .menu ul li li:last-child {
  margin-right: 0;
}

.main-section {
  margin-left: 58.38px;
  background: url("../images/mainsection/Group23.png") no-repeat 85% 10%;
  height: 492px;
  background-size: 35%;
}

.main-section .slogan {
  font-weight: 900;
  font-size: 31.69px;
  line-height: 43.37px;
  margin-top: 91.1px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #cfc09f), color-stop(24%, #634f2c), color-stop(26%, #cfc09f), color-stop(27%, #cfc09f), color-stop(40%, #ffecb3), to(#3a2c0f));
  background-image: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  background-size: 100%;
  background-repeat: repeat;
}

.main-section .slogan_description {
  margin-top: 24.12px;
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 700;
}

.main-section .learn_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24.78px;
}

.main-section .learn_more .discover_btn {
  width: 90.07px;
  height: 35.03px;
  line-height: 35.03px;
  border-radius: 3.34px;
  background-image: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  text-align: center;
  margin-right: 23.35px;
  margin-bottom: 5px;
}

.main-section .learn_more .discover_btn a {
  font-weight: 700;
  font-size: 11px;
  line-height: 13.39px;
}

.main-section .learn_more span {
  font-weight: 300;
  font-size: 10px;
  line-height: 12.1px;
  width: 225px;
}

.vr-users-stat {
  margin-top: 39.97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vr-users-stat #dot {
  width: 8.34px;
  height: 8.34px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 20px;
}

.vr-users-stat span {
  font-size: 10.01px;
  font-weight: 600;
  line-height: 12.11px;
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */