*,
body,
html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  background: #010101;
  background-image: radial-gradient(circle at 25% -10%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%), radial-gradient(circle at 120% 35%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%), radial-gradient(circle at -20% 70%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%), radial-gradient(circle at 118% 75%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 24%), radial-gradient(circle at -20% 95%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%), radial-gradient(circle at 118% 100%, rgba(170, 20, 240, 0.49) 0%, rgba(170, 20, 240, 0) 22%);
  background-repeat: no-repeat;
  padding-left: 58.38px;
}

body .discover_btn {
  width: 11vw;
  height: 4vw;
  line-height: 4vw;
  border-radius: 3.34px;
  background-image: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  text-align: center;
  margin-right: 23.35px;
  margin-bottom: 5px;
}

body .discover_btn a {
  font-weight: 700;
  font-size: 1.3vw;
  line-height: 2.6vw;
}

.gradient_text {
  background-image: linear-gradient(133deg, #c824ec 0%, #df308d 100%);
  background-size: 100%;
  background-repeat: repeat;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header {
  width: 93%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3% 0 3% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url("../images/logo.png") no-repeat 0 15%;
  background-size: 15%;
}

.header .menu {
  -webkit-margin-before: 0.1em;
          margin-block-start: 0.1em;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
  width: 90%;
  float: right;
  padding-left: 5%;
}

.header .menu ul li {
  display: inline-block;
  float: right;
  margin: 1% 3% 3%;
  font-size: 1.6vw;
  font-weight: 500;
}

.header .menu ul li li:last-child {
  margin-right: 0;
}

.main-section {
  width: 100%;
  background: url("../images/mainsection/Group2.png") no-repeat 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-size: 29.3%;
}

.main-section .slogan {
  font-weight: 900;
  font-size: 3.8vw;
  line-height: 6vw;
  margin-top: 6vw;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #cfc09f), color-stop(24%, #634f2c), color-stop(26%, #cfc09f), color-stop(27%, #cfc09f), color-stop(40%, #ffecb3), to(#3a2c0f));
  background-image: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  background-size: 100%;
  background-repeat: repeat;
}

.main-section .slogan_description {
  margin-top: 24.12px;
  line-height: 2.8vw;
  font-size: 1.8vw;
  font-weight: 700;
}

.main-section .learn_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7vh;
}

.main-section .learn_more span {
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 2vw;
}

.main-section .vr-users-stat {
  margin-top: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.main-section .vr-users-stat .avatars-of-all-users {
  width: 11vw;
}

.main-section .vr-users-stat #dot {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 20px;
}

.main-section .vr-users-stat span {
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.2vw;
  margin-left: 15px;
}

.about-section {
  margin-bottom: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.about-section .about-text-conatainer {
  position: absolute;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 1.7vw;
  left: 45%;
  top: 10vw;
  text-align: justify;
  width: 47%;
  z-index: 2;
}

.about-section .about-text-conatainer h3 {
  display: block;
  font-weight: 700;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: right;
  padding-top: 2%;
  padding-bottom: 4vw;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  z-index: 2;
}

.about-section .about-text-conatainer span {
  text-align: end;
  font-size: 1.3vw;
  line-height: 2vw;
}

.about-section .about-text-conatainer #quote {
  font-weight: bold;
  font-style: italic;
  font-size: 1vw;
}

.about-section .image-about-container {
  height: 39vw;
  width: 70%;
  margin-left: -21px;
  position: relative;
}

.about-section .image-about-container .video-container {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 0;
}

.about-section .image-about-container .video-container .video {
  position: absolute;
  top: 15vw;
  left: -17%;
  opacity: .6;
  width: 60vw;
  height: auto;
  border-radius: 80%;
}

.services_section {
  width: 96%;
  padding: 0 2%;
}

.services_section h2 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding-bottom: 1vw;
  font-weight: 700;
  font-size: 2vw;
  line-height: 27.36px;
  text-transform: uppercase;
  text-align: left;
}

.services_section .services_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1.5vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  text-align: center;
}

.services_section .services_container .service-item {
  position: relative;
  min-width: 43%;
  max-width: 80%;
  color: #fff;
}

.services_section .services_container .service-item img {
  width: 100%;
}

.services_section .services_container .service-item .discover_btn_background {
  position: relative;
  width: 46%;
  height: 23%;
  border-radius: 0px 0px 0px 4.8638px;
  background: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(13.6977px);
          backdrop-filter: blur(13.6977px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  text-align: center;
  top: -24.6%;
  left: 5.3%;
  z-index: 2;
}

.services_section .services_container .service-item .discover_btn_background .serv_discover_btn {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  text-align: center;
}

.services_section .services_container .service-item .discover_btn_background .serv_discover_btn a {
  text-decoration: none;
  line-height: 2vw;
  color: #fff;
  z-index: 4;
  -webkit-backdrop-filter: none !important;
          backdrop-filter: none !important;
}

.services_section .services_container .service-item .discover_btn_background .serv_discover_btn a span {
  font-size: 1.5vw;
}

.services_section .services_wrap {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.services_section .services_wrap .service-figure {
  position: relative;
  min-width: 44%;
  max-width: 90%;
  color: #fff;
}

.services_section .services_wrap .service-figure .figure-img {
  opacity: 0.08;
  -webkit-transition: opacity 4.35s;
  transition: opacity 4.35s;
  width: 95%;
}

.services_section .services_wrap .service-figure .serv-decription {
  position: absolute;
  top: 5%;
  width: 96%;
}

.services_section .services_wrap .service-figure .serv-decription ul {
  -webkit-padding-start: 4%;
          padding-inline-start: 4%;
  list-style-type: '\2735';
  font-size: 1vw;
  opacity: 1;
  -webkit-transition: opacity 4.35s;
  transition: opacity 4.35s;
}

.services_section .services_wrap .service-figure .serv-decription ul li {
  padding-left: 2%;
}

.services_section .services_wrap .service-figure .serv-decription span {
  text-transform: uppercase;
}

.services_section .services_wrap .service-figure .serv-decription p {
  -webkit-margin-before: 0.3em;
          margin-block-start: 0.3em;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
}

.services_section .services_wrap .service-figure .serv-decription span,
.services_section .services_wrap .service-figure .serv-decription p {
  opacity: 0.9;
  -webkit-transition: opacity 4.35s;
  transition: opacity 4.35s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.services_section .services_wrap .service-figure .contact_btn {
  position: absolute;
  top: 21vw;
  justify-content: center;
  left: 25%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services_section .services_wrap .service-figure .contact_btn a {
  padding: .4vw 2vw;
  width: 100%;
  background: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
  font-size: 1.1vw;
  font-weight: 500;
  border-radius: 2.44456px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.services_section .services_wrap .service-figure .contact_btn a p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.reviews-section {
  margin-left: -4vw;
  width: 100%;
}

.reviews-section .reviews-wrap {
  z-index: 1;
  opacity: .9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 97%;
  height: 21vw;
  margin: 4% 3% 20%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-42.59%, #AA14F0), color-stop(-42.59%, rgba(0, 0, 0, 0)), color-stop(-42.58%, #AA14F0), color-stop(4.35%, rgba(170, 20, 240, 0.18)), color-stop(99.99%, rgba(151, 60, 68, 0.055)), to(rgba(185, 54, 245, 0)));
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 7.35039px;
}

.reviews-section .reviews-header h2 {
  display: block;
  font-weight: 700;
  font-size: 2vw;
  height: 24px;
  letter-spacing: -0.02em;
  margin-top: 3%;
  text-align: center;
  text-transform: uppercase;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 1.5vw;
          margin-block-end: 1.5vw;
}

.reviews-section .reviews-header .rewiews-p {
  display: block;
  text-align: center;
  -webkit-margin-before: 0.2vh;
          margin-block-start: 0.2vh;
  -webkit-margin-after: 0.2vh;
          margin-block-end: 0.2vh;
  -webkit-margin-start: 1.15vw;
          margin-inline-start: 1.15vw;
  -webkit-margin-end: 1.15vw;
          margin-inline-end: 1.15vw;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 2.2vw;
}

.reviews-section .review {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.9px;
  display: block;
  z-index: 3;
  position: absolute;
  padding: 2%;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 12vmax;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-42.59%, #AA14F0), color-stop(-42.59%, rgba(0, 0, 0, 0)), color-stop(-42.58%, #AA14F0), color-stop(4.35%, rgba(170, 20, 240, 0.18)), color-stop(99.99%, rgba(151, 60, 68, 0.055)), to(rgba(185, 54, 245, 0)));
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.reviews-section .review .review-header {
  text-align: left;
  color: #F7B603;
  font-weight: 700;
  font-size: 2.3vw;
}

.reviews-section .review .review-text {
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 105%;
}

.reviews-section .review .reviewers {
  margin: 0 auto;
}

.reviews-section .review .reviewers .reviewer-photo {
  display: inline-block;
  margin-top: 3%;
}

.reviews-section .review .reviewers .reviewer-photo img {
  width: 6vw;
  height: 6vh;
  vertical-align: text-bottom;
}

.reviews-section .review .reviewers .reviewer-name {
  font-size: 1.2vw;
  line-height: 105%;
  font-weight: 500;
  display: inline-block;
  margin-left: 3%;
  vertical-align: text-top;
  -webkit-margin-before: -1em;
          margin-block-start: -1em;
}

.reviews-section .review .reviewers .reviewer-email {
  color: #EB4468;
  font-size: 1.2vw;
  line-height: 105%;
  font-weight: 500;
  margin-left: 30%;
}

.reviews-section .item1 {
  left: 3%;
}

.reviews-section .item2 {
  left: 35%;
}

.reviews-section .item3 {
  left: 67%;
}

.community-section {
  height: auto;
  width: 100%;
}

.community-section .community-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 94%;
  padding-top: 3.7vh;
  margin: 2% 2% 4%;
}

.community-section .community-wrap .community-text {
  width: 50%;
}

.community-section .community-wrap .community-text h2 {
  font-size: 2vw;
  text-transform: uppercase;
  margin-top: 2vh;
}

.community-section .community-wrap .community-text p {
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2vw;
  margin-top: 5.5vw;
  width: 80%;
}

.community-section .community-wrap .social-medias {
  width: 70%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.community-section .community-wrap .social-medias .medias-icon {
  width: 17vw;
  height: auto;
  text-align: center;
  padding: 4%;
}

.community-section .community-wrap .social-medias .medias-icon img {
  vertical-align: middle;
}

.community-section .community-wrap .social-medias .medias-icon .instagram-icon {
  width: 6vw;
}

.community-section .community-wrap .social-medias .medias-icon .discord-icon {
  width: 5.7vw;
}

.community-section .community-wrap .social-medias .medias-icon .youtube-icon {
  width: 4vw;
}

.community-section .community-wrap .social-medias .medias-icon .twitter-icon {
  width: 3.7vw;
  margin-top: -0.8vw;
}

.community-section .community-wrap .social-medias .medias-icon p {
  font-size: 1.5vw;
  text-align: center;
}

.community-section .community-wrap .social-medias .medias-icon .youtube {
  -webkit-margin-before: 1.5vw;
          margin-block-start: 1.5vw;
}

.community-section .community-wrap .social-medias .medias-icon .twitter {
  -webkit-margin-before: 1.2vw;
          margin-block-start: 1.2vw;
}

.proposals-section {
  width: 96%;
  padding: 3% 2%;
  margin-left: -3%;
}

.proposals-section .proposals-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(55deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
  -webkit-filter: drop-shadow(2px 4px 16px black);
          filter: drop-shadow(2px 4px 16px black);
  border-radius: 7.35039px;
}

.proposals-section .proposals-wrap .form {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
}

.proposals-section .proposals-wrap .form h2 {
  padding: 4vw 4vw 1vw;
  font-weight: 700;
  font-size: 2.3vw;
  line-height: 3.4vw;
}

.proposals-section .proposals-wrap .form p {
  font-size: 9px;
  font-size: 1.3vw;
  padding: 0 4vw;
}

.proposals-section .proposals-wrap .form .form-container {
  border-radius: 5px;
  padding: 5vw;
  background-image: url(../images/proposalssection/background.svg);
  border-radius: 0px 7.32242px 7.32242px 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 99%;
}

.proposals-section .proposals-wrap .form .form-container label {
  font-size: 1.3vw;
}

.proposals-section .proposals-wrap .form .form-container input[type=text], .proposals-section .proposals-wrap .form .form-container input[type=email], .proposals-section .proposals-wrap .form .form-container textarea {
  width: 100%;
  color: white;
  background-color: transparent;
  font-size: 1.3vw;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1vw;
  margin-bottom: 3vw;
  resize: vertical;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap {
  margin-top: 1vh;
  position: relative;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap select {
  display: none;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap .select-selected {
  background-color: #3a0847;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap .select-selected:after {
  position: absolute;
  content: "";
  top: 1.5vw;
  right: 10px;
  width: 0;
  height: 0;
  border: .6vw solid transparent;
  border-color: #fff transparent transparent transparent;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap .select-items div, .proposals-section .proposals-wrap .form .form-container .select-wrap .select-selected {
  color: #ffffff;
  padding: 1vw 2vw;
  border: 1px solid transparent;
  font-size: 1.3vw;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap .select-items div .select-items, .proposals-section .proposals-wrap .form .form-container .select-wrap .select-selected .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap .select-hide {
  display: none;
}

.proposals-section .proposals-wrap .form .form-container .select-wrap .select-items div:hover, .proposals-section .proposals-wrap .form .form-container .select-wrap .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.proposals-section .proposals-wrap .form .form-container input[type=submit] {
  background-image: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
  color: #fff;
  padding: 1vw 3vw;
  font-size: 1.2vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 3vh;
}

.projects-section {
  margin-left: -2.5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: 100%;
  height: 62vw;
  max-height: 66vh;
}

.projects-section .projects-wrap {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

.projects-section .projects-wrap .autoplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
}

.projects-section .projects-wrap .autoplay div .autoplay-img {
  width: 60vw;
}

.slick-list {
  width: 74vw;
  text-align: center;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-prev, .slick-next {
  font-size: 0;
  height: 3vw;
  width: 3vw;
  border-radius: 46%;
  position: relative;
  background: linear-gradient(103deg, #c824ec 0%, #df308d 100%);
  border: none;
}

.slick-prev::after {
  content: "<";
  color: #fff;
  font-size: 2vw;
  position: absolute;
  top: 0.24vw;
  left: 0.8vw;
  cursor: pointer;
}

.slick-next::after {
  content: ">";
  color: #fff;
  font-size: 2vw;
  position: absolute;
  top: 0.24vw;
  left: 1vw;
  cursor: pointer;
}

footer {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 0;
  bottom: 0;
  width: 96%;
  height: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4vw;
}

footer .copyright {
  margin-left: 4vw;
  margin-right: 3vw;
}

footer .telephone {
  margin-left: 29vw;
}

@media only screen and (max-width: 490px) {
  body {
    padding-left: 10vw;
  }
  .main-section {
    margin-bottom: 5vh;
  }
  .main-section .learn_more .discover_btn {
    height: 3vw;
    line-height: 2vw;
  }
  .about-section {
    margin-bottom: 3vh;
  }
  .about-section .image-about-container {
    display: none;
  }
  .about-section .about-text-conatainer {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: static;
    width: 73vw;
    font-size: 2.2vw;
    line-height: 3vw;
  }
  .service-figure .serv-decription br {
    display: none;
  }
  .reviews-section {
    margin-left: -6vw;
  }
  .community-section {
    padding-top: 5vh;
  }
  .proposals-section {
    margin-left: -5vw;
  }
  .services_container .service-item .discover_btn_background {
    width: 40% !important;
    height: 19% !important;
    top: -22% !important;
    left: 0.3% !important;
  }
  .services_container .service-item .discover_btn_background .serv_discover_btn a span br {
    display: none;
  }
  .services_section .service-figure {
    width: 90% !important;
    padding-top: 3vw;
    height: 19.5vh;
  }
  .services_section .service-figure .serv-decription ul {
    font-size: 1.7vw !important;
  }
  .meta-figure {
    height: 23.5vh !important;
  }
}

@media (min-width: 200px) and (max-width: 560px) {
  .services_section .services_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services_section {
    padding: 0;
    width: 100%;
  }
  .services_section .services_wrap {
    margin: 0 !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .services_section .services_wrap .service-figure {
    margin-bottom: 0 !important;
    width: 150%;
  }
  .services_section .services_wrap .service-figure .figure-img {
    visibility: hidden !important;
  }
  .services_section .services_wrap .service-figure .contact_btn {
    top: 17.9vw !important;
  }
  .services_section .services_wrap .service-figure .meta-contact-btn {
    top: 28vw !important;
  }
}

@media (min-width: 491px) and (max-width: 700px) {
  .main-section .learn_more .discover_btn {
    height: 3vw;
    line-height: 2.5vw;
  }
  .services_container .service-item .discover_btn_background {
    font-size: 55%;
    left: 0.3% !important;
  }
  .services_section .service-figure {
    height: 31vh !important;
    padding-bottom: 8vw !important;
    width: 50% !important;
  }
  .services_section .service-figure .serv-decription ul {
    font-size: 1.5vw !important;
  }
  .services_section .service-figure .meta-contact-btn {
    top: 28vw !important;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .services_container .service-item .discover_btn_background {
    left: 0.3%;
  }
  .services_container .service-item .service-img {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 900px) {
  .services_container .service-item .service-img {
    width: 90%;
    margin-left: 5%;
  }
  .services_container .service-figure .contact_btn {
    top: 110%;
  }
}

@media screen and (max-width: 980px) {
  h2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.36px;
  }
  .services_section .services_wrap .service-figure {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .services_container .service-item .discover_btn_background {
    font-size: 30px;
  }
  .service-figure .contact_btn {
    top: 95%;
  }
}

@media only screen and (min-width: 2000px) {
  .services_container .service-item .discover_btn_background {
    font-size: 46px;
  }
  .contact_btn {
    top: 65%;
  }
}

@media screen and (orientation: portrait) {
  .projects-section {
    height: 100vh;
  }
  .services_section .services_wrap {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=style.css.map */